@import "tailwindcss";
@import "@fontsource/vazir/index.css";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: rgb(241, 241, 241);
  color: var(--foreground);
  font-family: Vazir, sans-serif;
}
@keyframes cloudMoveSlow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200vw);
  }
}

@keyframes cloudMoveFast {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(250vw);
  }
}

.animate-cloudMoveSlow {
  animation: cloudMoveSlow 120s linear infinite;
}

.animate-cloudMoveFast {
  animation: cloudMoveFast 80s linear infinite;
}
